:root {
    --primary: #045c64;
    --gray: #525252;
    --light-gray: #ddd;
}

body {
    font-family: sans-serif;
    max-width: 800px;
    margin: 20px auto;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    font-size: 13px;
    line-height: 1.5;
    font-family: monospace;
}

/* Commit table */
.commit-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
}

.commit-table th,
.commit-table td {
    padding: 6px;
    vertical-align: top;
    text-align: left;
}

.col-hash {
    width: 80px;
}
.col-message {
    width: auto;
}
.col-date {
    width: 120px;
}

.cell-hash,
.cell-date {
    white-space: nowrap;
}

.message-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.author-label {
    color: var(--gray);
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

/* TODO: Make more common */
/* TODO: Make line nums sticky */
.diff-container {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    margin-top: 20px;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 20px;
}

.diff-container span[id^="L"]:hover a {
    color: #000 !important;
    cursor: pointer;
}

.diff-container span[id^="L"]:target a {
    color: #000 !important;
    font-weight: bold !important;
}
