body {
    margin: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 2px;
    text-align: left;
}

a {
    color: blue;
}
.base-nav {
    display:flex; 
    align-items:center; 
    margin-bottom:1em;
    gap: 0.2em;
    border-bottom: 1px solid black;
    padding-bottom: 0.4em;
}