body {
    font-family: sans-serif;
    font-size: 12pt;
    color: #000;
    background: white;
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    top: 0;
    width: screen;
    position: sticky;
    padding: 0.5em 1em;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
}

nav a {
    color: black;
    margin-right: 0.5em;
}

nav a.active {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid lightgray;
    padding: 2px 4px;
    text-align: left;
}

pre {
    font-family: monospace;
    font-size: 10pt;
}

.content {
    padding: 1em;
}

/* dont make headers too big */
h1 {
    font-size: 120%;
    margin: 0.5em 0;
}

h2 {
    font-size: 110%;
    margin: 1em 0 0.5em 0;
}

