:root {
    --primary: #045c64;
    --gray: #525252;
    --light-gray: #ddd;
    --secondary-bg: #fafafa;
}

body {
    font-family: sans-serif;
    margin: 0;
}

main {
    margin: 20px auto;
    max-width: 800px;
}

a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

pre {
    font-size: 13px;
    line-height: 1.5;
    font-family: monospace;
}

select {
    padding: 4px 8px;
    font-size: 14px;
    font-family: inherit;
    border: 1px solid var(--light-gray);
    border-radius: 4px;
    background-color: var(--secondary-bg);
    color: var(--gray);
    cursor: pointer;
    outline: none;
}

select:focus {
    border-color: var(--primary);
}

hr {
    border: none;
    border-top: 1px solid var(--light-gray);
    margin: 20px 0px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
    align-items: center;
    padding: 15px 6px;
    border-bottom: 1px solid var(--light-gray);
}

.nav-side {
    padding: 0 40px;
}

.nav-center-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: var(--gray);
}

.nav-links a.active {
    color: var(--primary);
}

/* Commit table */

.commit-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 0;
}

.commit-table th,
.commit-table td {
    padding: 6px;
    vertical-align: top;
    text-align: left;
}

.col-hash {
    width: 80px;
}
.col-message {
    width: auto;
}
.col-date {
    width: 120px;
}

.cell-hash,
.cell-date {
    white-space: nowrap;
}

.message-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.author-label {
    color: var(--gray);
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
}

/* Commit info */

.commit-info {
    border-collapse: collapse;
}

.commit-info th,
.commit-info td {
    vertical-align: top;
    padding: 4px 10px 4px 2px;
    text-align: left;
}

.commit-message {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 13px;
    max-width: 80ch;
    overflow-wrap: break-word;
}
