body {
    font-family: sans-serif;
    font-size: 12pt;
    color: #000;
    background: white;
    margin: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    top: 0;
    width: screen;
    position: sticky;
    padding: 0.5em 1em;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fbfbfb;
}

nav a {
    color: black;
    margin-right: 0.5em;
}

nav a.active {
    font-weight: bold;
}

pre {
    font-family: monospace;
    font-size: 10pt;
}

.content {
    padding: 1em;
}

/* dont make headers too big */
h1 {
    font-size: 120%;
    margin: 0.5em 0;
}

h2 {
    font-size: 110%;
    margin: 1em 0 0.5em 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.tree-table {
    width: auto;
    max-width: 100%;
}

th, td {
    border: 1px solid lightgray;
    padding: 4px 8px;
    text-align: left;
    white-space: nowrap;
}

tbody tr:nth-child(even) {
	background-color: #f9f9f9;
}

/* commits table */
table.commits-table {
	width: 100%;
	table-layout: fixed;
}

table.commits-table td {
	white-space: nowrap;
}

table.commits-table th, table.commits-table td {
	overflow: hidden;
	text-overflow: ellipsis;
}

table.commits-table .author-col {
	width: 15%;
}

table.commits-table .age-col {
	width: 10%;
}

table.commits-table .changes-col {
	width: 10%;
}

table.commits-table .commit-col {
	width: 6%;
}

table.commits-table .message-col {
	width: 59%;
	white-space: nowrap;
}

.files-changed {
	color: grey;
}

.insertions {
	color: green;
}

.deletions {
    color: red;
}

.blame-code {
    background-color: #f9f9f9;
    border: 1px solid lightgray;
    overflow-x: auto;
}

.breadcrumbs {
    margin-bottom: 1em;
    font-size: 14px;
}

.breadcrumbs a {
    color: grey;
}

.tree-table td:first-child {
    white-space: normal;
    word-break: break-all;
}

.blob-content {
    margin: 0 -1em;
}

.blob-content pre {
    white-space: pre-wrap;
    overflow-x: auto;
}

.readme-box {
    border: 1px solid lightgray;
    padding: 1em;
    margin: 0.5em 0;
    background-color: #f9f9f9;
    border-radius: 4px;
    white-space: pre-wrap;
    overflow-x: auto;
}



