{% extends "base.html" %}

{% block content %}
    <h1>commit {{ commit.id }}</h1>
        Author: {{ commit.author.name }} &lt;{{ commit.author.email }}&gt;<br>
        Committer: {{ commit.committer.name }} &lt;{{ commit.committer.email }}&gt;<br>
        Date: {{ commit.date | datetime }}
        {% if commit.parent_id %}<br>
        Parent: <a href="{{ url_for('commit_detail', repo_name=repo_name, commit_id=commit.parent_id) }}">{{ commit.parent_id }}</a>
        {% endif %}<br>
        Tree: <a href="{{ url_for('repo_tree_path', repo_name=repo_name, path='') }}?ref={{ commit.tree_id }}">{{ commit.tree_id }}</a>
        <div>
            {{ commit.message }}
        </div>
        <a href="{{ url_for('repo_tree_path', repo_name=repo_name, path='') }}?ref={{ commit.id }}">View Tree</a>
    {% if commit.diff %}
    <h2>Changed Files</h2>
    <table>
        <thead>
            <tr>
                <th>File</th>
                <th>Additions</th>
                <th>Deletions</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for file in commit.changed_files %}
            <tr>
                <td><a href="{{ url_for('repo_blob_path', repo_name=repo_name, path=file.file) }}?ref={{ commit.id }}">{{ file.file }}</a></td>
                <td>+{{ file.additions }}</td>
                <td>-{{ file.deletions }}</td>
                <td>{{ file.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if commit.parent_id %}
    <div>
        <a href="{{ url_for('repo_diff', repo_name=repo_name) }}?id1={{ commit.parent_id }}&id2={{ commit.id }}">View Full Diff</a> | 
        <a href="{{ url_for('commit_patch', repo_name=repo_name, commit_id=commit.id) }}">Patch</a>
    </div>
    {% endif %}
    {% else %}
    <p>No changes compared to parent</p>
    {% endif %}
{% endblock %}