{% extends "base.html" %}

{% block content %}
    <h1>Commits for {{ repo_name }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Commit</th>
                <th>Message</th>
                <th>Author</th>
                <th>Date</th>
                <th>Files Changed</th>
                <th>Insertions</th>
                <th>Deletions</th>
            </tr>
        </thead>
        <tbody>
            {% for commit in commits %}
                <tr>
                    <td><a href="{{ url_for('commit_detail', repo_name=repo_name, commit_id=commit.id) }}">{{ commit.id[:8] }}</a></td>
                    <td>{{ commit.message }}</td>
                    <td>{{ commit.author.name }}</td>
                    <td>{{ commit.date | datetime }}</td>
                    <td>{{ commit.diff_stats.files_changed }}</td>
                    <td>{{ commit.diff_stats.insertions }}</td>
                    <td>{{ commit.diff_stats.deletions }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {% if has_prev %}
            <a href="{{ url_for('repo_commits', repo_name=repo_name, page=page-1, ref=ref) }}">Previous</a>
        {% endif %}
        {% if has_next %}
            <a href="{{ url_for('repo_commits', repo_name=repo_name, page=page+1, ref=ref) }}">Next</a>
        {% endif %}
    </div>
{% endblock %}