{% block content %}
    <h1>Commits for {{ repo_name }}</h1>
    <ul>
        {% for commit in commits %}
            <li>
            <a href="{{ url_for('commit_detail', repo_name=repo_name, commit_hash=commit.id) }}">{{ commit.id }}</a> - {{ commit.message }} - {{ commit.author.name }} - {{ commit.date }} {{ commit.diff_stats.files_changed }} files changed, {{ commit.diff_stats.insertions }} insertions, {{ commit.diff_stats.deletions }} deletions
            </li>
        {% endfor %}
    </ul>
{% endblock %}