<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lipasto</title>
</head>
<body>
    <h2>Repositories</h2>
    <table>
        <thead>
            <tr>
                <th>Repository</th>
                <th>Owner</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for repo in repos %}
            <tr>
                <td>
                    <a href="{{ url_for('repo_detail', repo_name=repo.name) }}">
                        {{ repo.name }}
                    </a>
                </td>
                <td>
                    {% if repo.owner %}
                    {{ repo.owner }}
                    {% else %}
                    -
                    {% endif %}
                </td>
                <td>
                    {% if repo.description %}
                    {{ repo.description }}
                    {% else %}
                    -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <small>
        libgit2 - {{ version }}
    </small>
</body>
</html>