<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <ul>
        {{ range .Repos }}
            <li>
                <a href="/r/{{ .Name }}/commits">{{ .Name }}</a>
                <span>{{ .Description }}</span>
                <span> - Last updated {{ .LastUpdated | humanizeTime }}</span>
            </li>
        {{ else }}
            <p>No repositories found</p>
        {{ end }}
        </ul> 
    </body>
</html>
