{% extends "base.html" %}

{% block content %}
    <h1>Tree for {{ repo_name }} at {{ ref }}{% if path %} / {{ path }}{% endif %}</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            {% for item in tree_items %}
                <tr>
                    <td>
                        {% if item.type == 'tree' %}
                            <a href="{{ url_for('repo_tree_path', repo_name=repo_name, path=item.path) }}?ref={{ ref }}">{{ item.name }}/</a>
                        {% else %}
                            <a href="{{ url_for('repo_blob_path', repo_name=repo_name, path=item.path) }}?ref={{ ref }}">{{ item.name }}</a>
                        {% endif %}
                    </td>
                    <td>{{ item.type }}</td>
                    <td>{% if item.type == 'blob' %}{{ item.size }} bytes{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}